body {
  background-color: tan;
  text-align: center;
  width: 900px;
  margin: auto;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 18px;
}

.big {
  font-size: 30px;
  text-decoration: underline;
}

.bigger {
  font-size: 50px;
  text-decoration: bold;
}

.dark {
  background-color: black;
  color: white;
}

a {
  color: skyblue;
}

.light {
  background-color: white;
  a {
    color: teal;
  }
}

.bullet {
  text-decoration: dashed;
}

img {
  width: 700px;
}

ol {
  list-style-position: inside;
}
